<form class="form-inline" method="post"   enctype="multipart/form-data">
	<div class="input-append" >
		<input type="text" placeholder="{{ 'email'|trans}}" class="input-medium" name="email">
		<input class="btn-u" type="submit" name="submit" value="{{ 'subscribe'|trans}}">
	</div>
</form>