{% extends 'PortailBundle::layout.html.twig' %}


{% block content %}


    <!--=== Content Part ===-->
    <div class="container">
    <!-- Service Blocks -->

    <div class="row-fluid">


        <div class="log-page">
            This is a secure area
          </div>

    </div><!--/row-fluid-->



    </div><!--/container-->
    <!-- End Content Part -->




{% endblock %}